*,
*:after,
*:before {
  box-sizing: border-box;
  overflow-x: hidden;
}


.w-25 {
  width: 25% !important;
}

.w-50 {
  width: 50% !important;
}

.w-75 {
  width: 75% !important;
}

.w-100 {
  width: 100% !important;
}

.w-auto {
  width: auto !important;
}

.h-25 {
  height: 25% !important;
}

.h-50 {
  height: 50% !important;
}

.h-75 {
  height: 75% !important;
}

.h-100 {
  height: 100% !important;
}

.h-auto {
  height: auto !important;
}

.mh-100 {
  max-height: 100% !important;
}

.vh-100 {
  height: 100vh !important;
}

.min-vh-100 {
  min-height: 100vh !important;
}

.text-start {
  text-align: left !important;
}

.text-end {
  text-align: right !important;
}

.text-center {
  text-align: center !important;
}

.text-justify {
  text-align: justify !important;
}

.text-decoration-none {
  text-decoration: none !important;
}

.text-decoration-underline {
  text-decoration: underline !important;
}

.text-decoration-line-through {
  text-decoration: line-through !important;
}

.text-lowercase {
  text-transform: lowercase !important;
}

.text-uppercase {
  text-transform: uppercase !important;
}

.text-capitalize {
  text-transform: capitalize !important;
}

.text-wrap {
  white-space: normal !important;
}

.text-nowrap {
  white-space: nowrap !important;
}

.text-break {
  word-wrap: break-word !important;
  word-break: break-word !important;
}

.align-items-start {
  align-items: flex-start !important;
}

.align-items-end {
  align-items: flex-end !important;
}

.align-items-center {
  align-items: center !important;
}

.align-items-baseline {
  align-items: baseline !important;
}

.align-items-stretch {
  align-items: stretch !important;
}

.align-content-start {
  align-content: flex-start !important;
}

.align-content-end {
  align-content: flex-end !important;
}

.align-content-center {
  align-content: center !important;
}

.align-content-between {
  align-content: space-between !important;
}

.align-content-around {
  align-content: space-around !important;
}

.align-content-stretch {
  align-content: stretch !important;
}

.align-self-auto {
  align-self: auto !important;
}

.align-self-start {
  align-self: flex-start !important;
}

.align-self-end {
  align-self: flex-end !important;
}

.align-self-center {
  align-self: center !important;
}

.align-self-baseline {
  align-self: baseline !important;
}

.align-self-stretch {
  align-self: stretch !important;
}

.form-check {
  padding: 1rem;
}
.form-check-input {
  display: none;
}

/* Custom style for the checkbox container */
.form-check-input + .form-check-label::before {
  content: "";
  display: inline-block;
  width: 20px;
  height: 20px;
  background-color: #fff;
  border: 1px solid #ccc; 
  border-radius: 3px;
  margin-right: 10px;
  vertical-align: middle;
  position: relative;
}

.form-check-input:checked + .form-check-label::before {
  content: '\2713'; 
  display: inline-block;
  font-size: 16px; 
  padding: 0px 5px 0px 3px;
  color: #fff; 
  background-color: #000; 
}

.form-check-input:checked + .form-check-label::after {
  background-color: black;
  content: "\2713"; 
  font-size: 16px;
  color: white; 
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.wp-table tr td ul {
  padding-left: 0;
  margin: 0;
  list-style-type: none;
}
.wp-table tr td ul li{
    padding: 5px 0 5px 0;
}
body {
  font-family: "Montserrat", sans-serif;
  color: #0a0a0a;
  line-height: 1.4;
}

a {
  color: #000;
}

.content {
  z-index: 9999;
}

.secure,
.backBtn {
  display: flex;
}

.secure span,
.backBtn span {
  margin-left: 5px;
}

.backBtn {
  margin-top: 20px;
}

.secure {
  color: #afb5c0;
  align-items: flex-end;
}

.secure .icon {
  font-size: 20px;
  line-height: 20px;
}

.logo {
  font-size: 20px;
  font-weight: bold;
  display: flex;
  justify-content: center;
  align-items: flex-end;
}

.logo .icon {
  font-size: 32px;
  line-height: 32px;
  margin-right: 5px;
  width: 8rem;
}

img {
  width: 100%;
  border-radius: 8px 8px 8px 8px;
}

.details {
  max-width: 800px;
  min-height: 300px;
  margin-left: auto;
  margin-right: auto;
  margin-top: -200px;
  background: #fff;
  border-radius: 8px;
  display: flex;
  flex-direction: column;
  position: relative;
}

.details__item {
  display: flex;
}

.details__user {
  background: #f6f9fc;
  padding: 20px;
  border-radius: 8px;
  border: 1px solid #dadada;
}

.item__quantity {
  position: absolute;
  right: 50px;
  top: 30px;
  font-size: 20px;
}

.item__image {
  display: flex;
  align-items: center;
  justify-content: center;
}

.item__image .iphone {
  margin-top: -50px;
  margin-left: -100px;
  width: 200px;
}

.item__details {
  padding: 30px;
}

.item__title {
  font-size: 28px;
  font-weight: 600;
}

.item__price {
  font-size: 22px;
  color: #bec3cb;
}

.icon {
  font-size: 16px;
  vertical-align: middle;
}

header {
  background-color: #000;
  min-height: 200px;
  background-image: url("../images/pattern.png");
}

.navigation {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px 0 10px 0;
  color: #246eea;
  font-size: 14px;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-weight: 700;
}

.container {
  width: 960px;
  margin: 0 auto;
}

.shadow {
  box-shadow: 0 15px 35px rgba(50, 50, 93, 0.1), 0 5px 15px rgba(0, 0, 0, 0.07);
}

.row {
  display: flex;
}

.txt {
  border-color: #e1e8ee;
  width: 100%;
}
.txt2 {
  border-color: #e1e8ee;
  width: 82px;
}

.input {
  border-radius: 5px;
  border-style: solid;
  border-width: 2px;
  height: 48px;
  padding-left: 15px;
  font-weight: 600;
  font-size: 14px;
  color: #5e6977;
}

input[type=text] {
  display: initial;
  padding: 15px;
}

.text-validated {
  border-color: #7dc855;
  background-image: url("../images/icon-tick.png");
  background-repeat: no-repeat;
  background-position: right 18px center;
}

.ddl {
  border-color: #f0f4f7;
  background-color: #f0f4f7;
  width: 200px;
  margin-right: 10px;
}
.w-100{
    width: 100%!important;
}

.title {
  font-size: 16px;
  padding-bottom: 8px;
}
.title-flex {
  font-size: 16px;
  padding-bottom: 8px;
  display: flex;
}

.field {
  padding-top: 15px;
  padding-right: 30px;
  width: 50%;
}
.field-bahan {
  padding-top: 15px;
  padding-right: 30px;
  width: 50%;
}

.field.small {
  width: auto;
}

.notification {
  text-align: center;
  font-size: 28px;
  font-weight: 600;
  display: flex;
  justify-content: center;
  color: #fff;
}

.notification .icon {
  font-size: 28px;
  color: #7dc855;
  line-height: 28px;
  margin-right: 10px;
}

.actions {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 60px 0 40px 0;
}

.payment {
  padding: 20px 0 0 0;
}

.payment__title {
  margin: 40px 0 20px 0;
  font-size: 18px;
  display: flex;
  text-align: left;
}

.payment__title .icon {
  margin-right: 10px;
}

.btn {
  font-family: "Montserrat", sans-serif;
  border-radius: 8px;
  border: 0;
  letter-spacing: 1px;
  color: #fff;
  background: #000;
  padding: 20px 60px;
  white-space: nowrap;
  font-size: 16px;
  line-height: 1;
  text-transform: uppercase;
  transition: all 0.15s ease;
  text-decoration: none;
}

.btn .icon {
  margin-left: 10px;
  font-size: 20px;
}

.btn:hover {
  transform: translateY(-1px);
  background: #323232;
  color: #fff;
}

.btn.action__back {
  background: transparent;
  color: #a0a0a0;
}

.payment__types {
  display: flex;
  justify-content: center;
  align-items: center;
}
.payment__types a{
    text-decoration: none;
    font-weight: 600;
}
.payment__types a:hover{
  color: #000;
  transform: translateY(-1px);
}
.form-uploads {
    display: flex;
    justify-content: left;
    align-items: center;
}

.payment__info {
  display: flex;
}

.payment__cc {
  flex: 60%;
}

.payment__shipping {
  /* flex: 60%; */
  position: absolute;
  right: 0;
  width: 600px;
}

.shipping__info {
  background: #f6f9fc;
  padding: 10px;
  border-radius: 8px;
}

.payment__type {
  display: flex;
  border: 2px solid #d9d9d9;
  border-radius: 8px;
  padding: 20px 40px;
  width: 100%;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  color: #d9d9d9;
  transition: all 0.15s ease;
}
.form-upload {
  display: flex;
  border: 2px solid #d9d9d9;
  border-radius: 8px;
  padding: 5px 5px;
  width: 75%;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  color: #d9d9d9;
  transition: all 0.15s ease;
}
.form-upload:hover {
  transform: translateY(-1px);
  color: #000;
  border-color: #000;
}

.form-upload.active {
  color: #0a0a0a;
  background: #f6fcf7;
  border-color: #7dc855;
}

.form-upload .icon {
  font-size: 32px;
  margin-right: 10px;
}

.form-upload + .form-upload {
  margin-left: 10px;
}

.payment__type:hover {
  transform: translateY(-1px);
}

.payment__type.active {
  color: #fff;
  background: #474947;
  border-color: #474947;
}

.payment__type .icon {
  font-size: 32px;
  margin-right: 10px;
}

.payment__type + .payment__type {
  margin-left: 10px;
}

.icon-xl {
  font-size: 48px;
  line-height: 48px;
}

.content {
  display: block;
}

.thankyou {
  display: block;
}

.thankyou .details {
  opacity: 1;
  justify-content: center;
  align-items: center;
}

.thankyou .details h3 {
  font-weight: 600;
}

.thankyou .details__item {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.thankyou .details__item .icon-xl {
  font-size: 32px;
  color: #7dc855;
  line-height: 32px;
}

.loading {
  position: relative;
}

.loading:after {
  -webkit-animation: spinAround 0.5s infinite linear;
  animation: spinAround 0.5s infinite linear;
  border: 4px solid #7dc855;
  border-radius: 290486px;
  border-right-color: transparent;
  border-top-color: transparent;
  content: "";
  height: 5em;
  width: 5em;
  position: absolute;
}

.loading .details__item {
  opacity: 0;
}

@-webkit-keyframes spinAround {
  from {
    transform: rotate(0);
  }
  to {
    transform: rotate(359deg);
  }
}
@keyframes spinAround {
  from {
    transform: rotate(0);
  }
  to {
    transform: rotate(359deg);
  }
}

.center-content{
    display: block;
    margin-left: auto;
    margin-right: auto;
}
.pt250{
    padding-top: 250px;
}
.pt275{
    padding-top: 275px;
}
.pt200{
  padding-top: 200px!important;
}

.mw-32{
  max-width: 32%;
  max-height: 100%!important;
  border-radius: 12px;
}

.wp-table tr:nth-child(odd) {
    background-color: #f1f1f1;
}

.wp-table tr:nth-child(even) {
    background-color: #fff;
}

.wp-table tr {
    border-bottom: 1px solid #ddd;
}

.wp-table th:first-child, 
.wp-table td:first-child {
    padding-left: 16px;
}


.wp-table td, 
.wp-table th {
    padding: 8px 8px;
    display: table-cell;
    text-align: left;
    vertical-align: top;
}

.wp-table th {
    font-weight: bold;
}
 
.wp-table {
    font-size: 16px;
    border: 1px solid #ccc;
    border-collapse: collapse;
    border-spacing: 0;
    width: 75%;
    display: table;
}

.table .payment__title{
    margin: 10px 0 10px 0!important;
}

.pt100{
  padding-top: 100px;
}
.pb50{
  padding-bottom: 50px;
}
.img-note{
  /* filter: grayscale(100%); */
  margin-left: 20px;
  cursor: pointer;
}
.img-note:hover{
  filter: none;
  transform: scale(1.03);
}

.field-bahan input[type="radio"] {
  display: none; /* Hide the actual radio button */
}

.field-bahan label {
  cursor: pointer;
  position: relative;
  display: inline-block;
  width: 100%; /* Set the width and height based on your image size */
  height: 250px;
  background-size: cover; /* Ensure the background image covers the entire label */
  background-repeat: no-repeat;
  border-radius: 8px;
}

.field-bahan input[type="radio"]:checked + label {
  transform: scale(1.05);
  border: 3px solid #000; /* Set a border for visual indication */
}

/* Additional styling for hover effect */
.field-bahan label:hover {
  border: 2px solid #000; /* Change border color on hover */
}

.field-p input[type="radio"] {
  display: none; 
}

.field-p label {
  border: 1px solid #ccc;
  margin-left: 5px;
  padding: 8px;
  cursor: pointer;
  position: relative;
  display: inline-block;
  width: 100%;
  height: 100%;
  background-size: cover;
  background-repeat: no-repeat;
  border-radius: 8px;
}

.field-p input[type="radio"]:checked + label {
  /* transform: scale(1.05); */
  border: 2px solid #000; /* Set a border for visual indication */
}

/* Additional styling for hover effect */
.field-p label:hover {
  border: 2px solid #000; /* Change border color on hover */
}

/* modal */

/* Modal Styles */

.modal {
  display: none;
  position: fixed;
  z-index: 1;
  padding-top: 50px;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.9);
}

.modal-content {
  background-color: whitesmoke;
  margin: auto;
  display: block;
  max-width: 80%;
  max-height: 80%;
}

.close {
  position: absolute;
  top: 15px;
  right: 35px;
  color: #f1f1f1;
  font-size: 40px;
  font-weight: bold;
  cursor: pointer;
}

.form-modal{
  width: 300px;
  margin: auto;
  display: block;
}
.form-modal h4{
  text-align: center;
    padding-top: 20px;
    font-size: 18px;
    margin-bottom: 0;
}
#inputDataForm{
  display: grid;
  padding: 0 0 20px 0;
  text-align: center;
}
#inputDataForm label{
  padding: 8px;
}
.btn-modal{
  margin-top: 20px;
  height: 3rem;
  background-color: #000;
  color: #fff;
  border-radius: 8px;
  cursor: pointer;
}
.btn-modal:hover {
  transform: translateY(-1px);
  background: #323232;
}
.input-modal{
  height: 40px;
  border: 1px solid #d9d9d9;
  border-radius: 8px;
}

.w-17{
    width: 17rem;
}

.fw-6{
    font-weight: 600;
}
.table-pesan{
  width: 50rem;
}
.hidden{
  display: none;
}
.card-body{
  width: 700px;
  text-align: center;
  background-color: #f5f5f5;
}
.card-body h3 img{
  width:20%;
}
.content-center{
  display: block;
  margin-left: auto;
  margin-right: auto;
}
.payment__order2{
    position: absolute;
    right: -20rem;
    width: 61rem;
}
.col2-order1{
  column-count: 2;
    /* height: 500px; */
}
.pt50{
  padding-top: 50px;
}
.form-note{
  columns: 2;
}
.form-note4{
  columns: 4;
}
.row:last-child{
  padding-bottom: 20px;
}
.row2:last-child{
  padding-bottom: 100px;
}

.title-note{
  font-size: 16px;
    padding-bottom: 8px;
    width: 20rem;
}
.m0{
  margin: 0;
}
.w-80{
  width: 80%!important;
}
.font-20{
  font-size: 20px;
}

/* style radio btn */
.fieldjk {
  display: flex;
  gap: 10px;
  overflow-y: hidden;
}

.img-notejk {
  /* Set a default size for the image */
  width: 112px;
  height: 112px;
  /* border: 2px solid transparent; Border to indicate selection */
  cursor: pointer;
  filter: grayscale();
}
.img-notejk:hover {
  filter: none!important;
  /* width: 13%; */
}
/* .fieldjk input[type="radio"] {
  display: none;
} */
.fieldjk input[type="radio"]:checked + label {
  /* transform: scale(1.1); */
  background-image: none!important;
  filter: none!important;
}

.fieldjk label {
  /* Set background size to cover the label */
  background-size: cover;
  /* Adjust padding for better spacing */
  padding: 5px;
  width:112px;
}
.fieldjk input[type="radio"]:checked + .C1{
  /* opacity: 0.5; */
  -webkit-transition: content 2s ease-out;
  content: url('/asset/extra/casual/C-1Kuning.png');
  transform: scale(1.2);
}
.fieldjk input[type="radio"]:checked +.C2{
  /* opacity: 0.5; */
  -webkit-transition: content 2s ease-out;
  content: url('/asset/extra/casual/C-2kuning.png');
  transform: scale(1.2);
}
.fieldjk input[type="radio"]:checked+.C3{
  /* opacity: 0.5; */
  -webkit-transition: content 2s ease-out;
  content: url('/asset/extra/casual/C-3kuning.png');
  transform: scale(1.2);
}
.fieldjk input[type="radio"]:checked+.C4{
  /* opacity: 0.5; */
  -webkit-transition: content 2s ease-out;
  content: url('/asset/extra/casual/C-4kuning.png');
  transform: scale(1.2);
}
.fieldjk input[type="radio"]:checked+.C5{
  /* opacity: 0.5; */
  -webkit-transition: content 2s ease-out;
  content: url('/asset/extra/casual/C-5kuning.png');
  transform: scale(1.2);
}
.fieldjk input[type="radio"]:checked+.O1{
  /* opacity: 0.5; */
  -webkit-transition: content 2s ease-out;
  content: url('/asset/extra/oneck/O-1akuning.png');
  transform: scale(1.2);
}
.fieldjk input[type="radio"]:checked+.O2{
  /* opacity: 0.5; */
  -webkit-transition: content 2s ease-out;
  content: url('/asset/extra/oneck/O-2kuning.png');
  transform: scale(1.2);
}
.fieldjk input[type="radio"]:checked+ .pbnormal{
  /* opacity: 0.5; */
  -webkit-transition: content 2s ease-out;
  content: url('/asset/extra/polabadan/normal.png');
  transform: scale(1.2);
}
.fieldjk input[type="radio"]:checked+ .bbm{
  /* opacity: 0.5; */
  -webkit-transition: content 2s ease-out;
  content: url('/asset/extra/polabadan/melengkung.png');
  transform: scale(1.2);
}
.fieldjk input[type="radio"]:checked+ .lenganNormal{
  content: url('/asset/extra/kuning2.png');
  -webkit-transition: content 2s ease-out;
  transform: scale(1.2);
}
.fieldjk input[type="radio"]:checked+ .raglan{
  content: url('/asset/extra/kuning1.png');
  -webkit-transition: content 2s ease-out;
  transform: scale(1.2);
}


.C1:hover{
  /* opacity: 0.5; */
  -webkit-transition: content 2s ease-out;
  content: url('/asset/extra/casual/C-1Kuning.png');
  background-image: none!important;
  transform: scale(1.2);
}
.C2:hover{
  /* opacity: 0.5; */
  -webkit-transition: content 2s ease-out;
  content: url('/asset/extra/casual/C-2kuning.png');
  background-image: none!important;
  transform: scale(1.2);
}
.C3:hover{
  /* opacity: 0.5; */
  -webkit-transition: content 2s ease-out;
  content: url('/asset/extra/casual/C-3kuning.png');
  background-image: none!important;
  transform: scale(1.2);
}
.C4:hover{
  /* opacity: 0.5; */
  -webkit-transition: content 2s ease-out;
  content: url('/asset/extra/casual/C-4kuning.png');
  background-image: none!important;
  transform: scale(1.2);
}
.C5:hover{
  /* opacity: 0.5; */
  -webkit-transition: content 2s ease-out;
  content: url('/asset/extra/casual/C-5kuning.png');
  background-image: none!important;
  transform: scale(1.2);
}
.O1:hover{
  /* opacity: 0.5; */
  -webkit-transition: content 2s ease-out;
  content: url('/asset/extra/oneck/O-1akuning.png');
  background-image: none!important;
  transform: scale(1.2);
}
.O2:hover{
  /* opacity: 0.5; */
  -webkit-transition: content 2s ease-out;
  content: url('/asset/extra/oneck/O-2kuning.png');
  background-image: none!important;
  transform: scale(1.2);
}
.pbnormal:hover{
  /* opacity: 0.5; */
  -webkit-transition: content 2s ease-out;
  content: url('/asset/extra/polabadan/normal.png');
  background-image: none!important;
  transform: scale(1.2);
}
.bbm:hover{
  /* opacity: 0.5; */
  -webkit-transition: content 2s ease-out;
  content: url('/asset/extra/polabadan/melengkung.png');
  background-image: none!important;
  transform: scale(1.2);
}
.lenganNormal:hover{
  content: url('/asset/extra/kuning2.png');
  -webkit-transition: content 2s ease-out;
  background-image: none!important;
  transform: scale(1.2);
}
.raglan:hover{
  content: url('/asset/extra/kuning1.png');
  -webkit-transition: content 2s ease-out;
  background-image: none!important;
  transform: scale(1.2);
}
/* end radio btn */

/* btn inc dec number*/

.input-group {
  border: 1px solid #ccc;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  box-shadow: 2px 3px 4px rgba(0, 0, 0, 0.3);
  border-radius: 15px;
  max-width: 130px;
}

.btn-indec,
.input-indec {
  outline: none;
  border: none;
  padding: 10px;
  font-size: 18px;
}

.input-indec {
  width: 100%;
  text-align: center;
}

.btn-indec {
  cursor: pointer;
  background-color: #ddd;
}
.btn-indec:nth-last-child(1) {
  border-bottom-right-radius: 15px;
  border-top-right-radius: 15px;
}
.btn-indec:nth-child(1) {
  border-bottom-left-radius: 15px;
  border-top-left-radius: 15px;
}

.btn-indec:hover {
  background-color: #e6e6e6;
}
.btn-indec:nth-last-child(1):active {
  box-shadow: inset -4px 5px 10px rgba(0, 0, 0, 0.5);
}
.btn-indec:nth-child(1):active {
  box-shadow: inset 4px 5px 10px rgba(0, 0, 0, 0.5);
}
/* end inc dec number */

.p-12{
  padding: 12px;
}
.payment__cc .col2-order1{
  width: 70rem;
}
.h-3{
  height: 3rem;
}
.btn-black{
  background-color: #000;
  color: #fff;
  border: #000;
  text-decoration: none;
}
.btn-black:hover{
  color: #fff;
  background-color: #323232;
  border: #323232;
}
.pt-5{
  padding-top: 5px;
}


.ttd-quo{
  position: relative;
  right: 18rem;
}
#myDIV {
  height: 50rem;
  width: 250px;
  overflow: auto;
  position: relative;
}
.ttd #ttd1 {
  position: absolute; /* Change this line */
  top: 56rem;
  bottom: 1rem; /* Add this line */
  right: 14rem; /* Add this line */
}
.ttd #ttd2 {
  position: absolute; /* Change this line */
  top: 56rem;
  bottom: 1rem; /* Add this line */
  right: 1rem; /* Add this line */
}
.ttd #ttd3 {
  position: absolute; /* Change this line */
  top: 3.5rem;
  right: 3rem; /* Add this line */
}
.w-fit{
  width: fit-content;
}

#content {
  height: auto;
  width: auto;
  padding: 10px;
}
.w-unset-quo{
  width: unset;
}
.btn-back{
  padding: 1rem 2rem;
  margin-left: 2rem;
}
.content-back{
  padding-top: 3rem;
}

.img-upload{
  width: auto;
  height: 11rem;
}
.img-upload img{
  height: 10rem;
  width: 16rem;
  object-fit: cover;
}
.img-upload span{
  line-height: normal;
  font-size: 14px;
  display: block;
  color: #b70f0f;
}

.img-tableView{
  width: auto;
  height: 15rem;
}
.img-tableView img{
  height: 12rem;
  width: 16rem;
  object-fit: cover;
}
.img-tableView .title{
  display: block;
}
.img-tableView span{
  display: block;
  margin-top: 0.2rem;
}

.img-tableDetail{
  padding: 0 1rem;
    width: 12rem;
    height: 11rem;
}
.img-tableDetail img{
  height: 6rem;
  width: 6rem;
  object-fit: cover;
}
.img-tableDetail span{
  display: block;
  font-size: 14px;
  margin-top: 0.2rem;
}
textarea {
  height: 10rem!important;
}


/* Responsive layout - makes the three columns stack on top of each other instead of next to each other */
@media only screen and (max-width: 600px) {
  .img-upload{
    width: auto;
    height: 8rem;
  }
  .img-upload img{
    width: 10rem;
    height:7rem;
  }

  .content-back{
    padding-top: 1rem;
  }
  header{
    min-height: 150px;
  }
  .container{
    width: 330px;
  }
  .notification{
    font-size: 16px;
  }
  .payment{
    padding: 0;
  }
  .payment__info{
    display: block;
  }
  .payment__title{
    margin: 20px 0 20px 0;
  }
  .field {
    padding-top: 15px;
    /* padding-right: 30px; */
    width: 100%!important;
  }
  .payment__shipping{
    position: relative;
  }
  .col-unset-mobile{
    column-count: unset!important;
  }
  .col2-order1{
    column-count: 2;
  }
  .row:last-child {
      /* padding-bottom: 20px; */
  }
  .pb50{
    padding-bottom: 0;
  }
  .form-note{
    columns: unset;
  }
  .field-bahan {
    margin: auto;
    width: 85%;
  }
  .img-note{
    margin-left: 0.5rem;
  }
  .jeniskerah .row{
    overflow-x: scroll;
  }
  .fieldjk input[type="radio"] {
    display: none;
  }
  .fieldjk{
    flex: none;
  }
  .title-flex .img-note{
    display: none;
  }
  .payment__cc .w32-mobile{
    column-count: 2;
    width: 32rem!important;
  }
  .payment__cc .col2-order1{
    width: unset;
  }
  .btn-quomobile{
    width: 18rem;
    padding: 20px 13px;
  }
  .block-mobile{
    display: block;
  }
  /* .payment__types{
    flex-direction: column;
  } */
  .btn-back{
    padding: 0.5rem 1rem;
    margin-left: 0.5rem;
  }
  .payment__types a{
    font-size: 10px;
    padding: 0.5rem 0.5rem;
    margin-bottom: 10px;
    margin-right: 1px;
  }
  .payment__type .icon {
    font-size: 16px;
    margin-right: 8px;
  }
  .payment__type + .payment__type{
    margin-left: unset;
  }
  .payment__type{
    display: unset;
  }
  .form-upload{
    display: block;
    padding: 5px 50px;
  }
  .w-17{
    width: unset;
  }
  .payment__order2{
    position: unset;
    width: 100%;
  }
  .pt250{
    padding-top: unset;
  }
  .pt275{
    padding-top: unset;
  }
  .field.small{
    overflow-y: hidden;
  }
  .image .form-upload{
    width: unset;
    display: contents;
  }
  .image .form-upload img{
    width: 55%;
  }
  .table{
    width: 73%;
  }
  .wp-table{
    font-size: 14px;
    width: unset;
  }
  .btn-black{
    padding: 8px 30px;
  }
  .w-20{
    width: 20rem;
  }
  .mw-32{
    max-width: 100%;
  }
  .card-body-mobile{
    width: 300px;
  }
  .text-center-mb{
    text-align: center!important;
  }
  .table-responsive{
    font-size: 12px!important;
    width: unset!important;
  }
  .w-680{
    width: unset!important;
    font-size: 14px;
  }
  .col-1,.col-2,.col-3{
    padding: 0;
  }
  .content{
    overflow-x: hidden;
  }
  .w-unset{
    width: unset!important;
  }
  .pt135{
    padding: 1rem 0 0;
  }
  #myDIV {
    margin: 20px;
    height: 30rem;
    width: 250px;
    overflow: auto;
  }
  .button.back{
    width: 40px!important;
    height: 40px!important;
  }
}

@media screen and (min-width: 768px) and (max-width: 1024px) {
  /* Your tablet-specific styles go here */
  .container{
    width: 700px;
  }
  .col-unset-mobile{
    position: relative;
    column-count: 1;
    width: 400px;
    height: 800px;
    overflow-x: scroll;
  }
  .field{
    width: 100%;
  }
  .fieldjk input[type="radio"] {
    display: none;
  }
  .fieldjk{
    flex: none;
  }
  .jeniskerah .row{
    overflow-x: scroll;
  }
  .payment__cc .col2-order1{
    width: 40rem;
  }
  .icon{
    line-height: normal;
  }
  .payment__type{
    padding: 10px 0px;
  }
  .payment__order2 {
    position: relative;
    right: 0rem;
    width: 21rem;
  }
  .pt250{
    padding-top: 0;
  }
  .pt275{
    padding-top: 0;
  }
  .payment__shipping{
    position: relative;
  }
  .field.small{
    overflow-y: hidden;
  }
  .w-215-tab{
    width: 215px;
  }
  .btn-black{
    width: 200px;
  }
  .w-unset{
    position: absolute;
    left: 540px;
    width: 230px;
    top: 315px;
  }
  .w-unset .pt135 .btn{
    padding: 10px 12px;
  }
  .backBtn{
    margin-top: 10px;
  }
}