/* * {
    font-family: Montheavy;
} */

.image-container {
    max-width: 1400px;
    padding: 10px 20px;
    display: flex;
}

.image-wrapper {
    max-width: 450px;
    /* Mengatur lebar maksimum container */
    width: 150px;
    /* Mengatur lebar maksimum container */
    padding: 10px;
    font-size: 10px;
    transition: transform 0.5s ease-in-out, width 0.4s ease-in-out;
    cursor: pointer;
    font-family: Montheavy;
}

/* .clickable-image {
    width: 80%;
    height: 80%;
    margin: 0 10px;
    cursor: pointer;
} */

.active-img {
    /* transform: translateX(50%);  */
    width: 250px;
    /* Lebih besar saat aktif */
    height: 250px;
    font-size: 15px;
    /* Lebih besar saat aktif */
    color: red;
    /* background-color: rgba(0, 0, 0, 1); */

    /* align-items: baseline; */
}

button {
    background-color: #4caf50;
    color: #fff;
    padding: 8px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    margin: 0 5px;
}

button:hover {
    background-color: #45a049;
}

.slide {
    width: 250px;
    height: 250px;
}

.image-text {
    text-align: center;
    background-color: rgba(0, 0, 0, 0);
    padding: 5px;
    margin: 5px;
    border-radius: 12px;
    border: 2px solid #ddd;
}

.image-text-active {
    text-align: center;
    background-color: rgba(0, 0, 0, 1);
    padding: 5px;
    color: white;
    margin: 5px;
    border-radius: 12px;
    border: 2px solid #ddd;
}

.bx{
    vertical-align: middle;
}
.h15{
    height: 15rem;
}

/* timeline New */
.containerFlow {
	width: 1160px;
	margin: 0 auto;
	position: relative;
}

.ag-timeline_item {
	margin: 0 0 50px;
	position: relative;
}
.ag-timeline_item:nth-child(2n) {
	text-align: right;
}

.ag-timeline {
	display: inline-block;
	width: 100%;
	max-width: 100%;
	margin: 0 auto;
	position: relative;
}
.ag-timeline_line {
	width: 8px;
	background-color: #fff;
	position: absolute;
	top: 2px;
	left: 50%;
	bottom: 0;
	overflow: hidden;
	-webkit-transform: translateX(-50%);
	-moz-transform: translateX(-50%);
	-ms-transform: translateX(-50%);
	-o-transform: translateX(-50%);
	transform: translateX(-50%);
}

.ag-timeline_line-progress {
	width: 100%;
	height: 20%;
	background-color: #000;
}

.ag-timeline-card_box {
	padding: 0 0 20px 50%;
}

.ag-timeline_item:nth-child(2n) .ag-timeline-card_box {
	padding: 0 50% 20px 0;
}

.ag-timeline-card_point-box {
	display: inline-block;
	margin: 0 14px 0 -28px;
}

.ag-timeline_item:nth-child(2n) .ag-timeline-card_point-box {
	margin: 0 -28px 0 14px;
}

.ag-timeline-card_point {
	height: 50px;
	line-height: 50px;
	width: 50px;
	border: 3px solid #000;
	background-color: #fff;
	text-align: center;
	font-family: 'ESL Legend', sans-serif;
	font-size: 20px;
	color: #000;
	-webkit-border-radius: 50%;
	-moz-border-radius: 50%;
	border-radius: 50%;
}

.js-ag-active .ag-timeline-card_point {
	color: #fff;
	background-color: #000;
}

.ag-timeline-card_meta-box {
	display: inline-block;
}

.ag-timeline-card_meta {
	margin: 10px 0 0;
	font-family: 'ESL Legend', sans-serif;
	font-weight: bold;
	font-size: 21px;
	color: #000;
}

.ag-timeline-card_item {
    padding: 1rem;
	display: inline-block;
	width: 45%;
	margin: -77px 0 0;
	background-color: #000;
	opacity: 0;
	-webkit-border-radius: 6px;
	-moz-border-radius: 6px;
	border-radius: 10px;
	-webkit-box-shadow: 0 0 0 0 rgba(0,0,0,.5);
	-moz-box-shadow: 0 0 0 0 rgba(0,0,0,.5);
	-o-box-shadow: 0 0 0 0 rgba(0,0,0,.5);
	box-shadow: 0 0 0 0 rgba(0,0,0,.5);
	-webkit-transition: -webkit-transform .5s, opacity .5s;
	-moz-transition: -moz-transform .5s, opacity .5s;
	-o-transition: -o-transform .5s, opacity .5s;
	transition: transform .5s, opacity .5s;
	position: relative;
}

.ag-timeline_item:nth-child(2n+1) .ag-timeline-card_item {
	-webkit-transform: translateX(-200%);
	-moz-transform: translateX(-200%);
	-ms-transform: translateX(-200%);
	-o-transform: translateX(-200%);
	transform: translateX(-200%);
}

.ag-timeline_item:nth-child(2n) .ag-timeline-card_item {
	-webkit-transform: translateX(200%);
	-moz-transform: translateX(200%);
	-ms-transform: translateX(200%);
	-o-transform: translateX(200%);
	transform: translateX(200%);
}

.js-ag-active.ag-timeline_item:nth-child(2n+1) .ag-timeline-card_item,
.js-ag-active.ag-timeline_item:nth-child(2n) .ag-timeline-card_item {
	opacity: 1;
	-webkit-transform: translateX(0);
	-moz-transform: translateX(0);
	-ms-transform: translateX(0);
	-o-transform: translateX(0);
	transform: translateX(0);
}

.ag-timeline-card_arrow {
	height: 18px;
	width: 18px;
	margin-top: 20px;
	background-color: #000;
	z-index: -1;
	position: absolute;
	top: 0;
	right: 0;
	-webkit-transform: rotate(45deg);
	-moz-transform: rotate(45deg);
	-ms-transform: rotate(45deg);
	-o-transform: rotate(45deg);
	transform: rotate(45deg);
}

.ag-timeline_item:nth-child(2n+1) .ag-timeline-card_arrow {
	margin-left: calc(-18px / 2);
	margin-right: calc(-18px / 2);
}
.ag-timeline_item:nth-child(2n) .ag-timeline-card_arrow {
  margin-left: -10px;
  right: auto;
  left: 0;
}

.ag-timeline-card_img {
	width: 100%;
	border: 1px solid #000;
}

/*--- Responsive Code ---*/
@media only screen and (max-width: 979px) {
  .ag-timeline_line {
	left: 30px;
  }

  .ag-timeline_item:nth-child(2n) {
	text-align: left;
  }

  .ag-timeline-card_box,
  .ag-timeline_item:nth-child(2n) .ag-timeline-card_box {
	padding: 0 0 20px;
  }
  
  .ag-timeline-card_meta-box {
    display: none;
  }
  
  .ag-timeline-card_point-box,
  .ag-timeline_item:nth-child(2n) .ag-timeline-card_point-box {
    margin: 0 0 0 8px;
  }
  
  .ag-timeline-card_point {
    height: 40px;
    line-height: 40px;
    width: 40px;
  }
  
  .ag-timeline-card_item {
    width: auto;
    margin: -65px 0 0 75px
  }
  
  .ag-timeline_item:nth-child(2n+1) .ag-timeline-card_item,
  .ag-timeline_item:nth-child(2n) .ag-timeline-card_item {
    -webkit-transform: translateX(200%);
    -moz-transform: translateX(200%);
    -ms-transform: translateX(200%);
    -o-transform: translateX(200%);
    transform: translateX(200%);
  }
  
  .ag-timeline_item:nth-child(2n+1) .ag-timeline-card_arrow {
    right: auto;
    left: 0;
  }
  
  .ag-timeline-card_arrow {
    margin-top: 12px;
  }
}

@media only screen and (max-width: 767px) {
  .containerFlow {
    width: 96%;
  }

  .ag-timeline-card_img {
    height: auto;
    width: auto;
  }
}

@media only screen and (max-width: 639px) {
  .secTitle {
    font-size: 60px;
  }
}

@media (min-width: 768px) and (max-width: 979px) {
  .containerFlow {
    width: 750px;
  }
}

@media (min-width: 980px) and (max-width: 1161px) {
  .containerFlow {
    width: 960px;
  }
}

/* accordion */
.tab-accordion input {
  position: absolute;
  opacity: 0;
  z-index: -1;
}
.tab__content {
  max-height: 0;
  overflow: hidden;
  transition: all 0.35s;
}
.tab-accordion input:checked ~ .tab__content {
  max-height: 12rem;
}

/* Visual styles */
.tab-accordion p a{
  font-size: 1rem;
  padding: 0;
  text-decoration: underline;
}
.accordion {
  color: #000;
  border: 2px solid;
  border-radius: 0.5rem;
  overflow: hidden;
}
.tab__label,
.tab__close {
  display: flex;
  color: white;
  background: #000;
  cursor: pointer;
}
.tab__label {
  justify-content: space-between;
  padding: 1rem;
}
.tab__label::after {
  content: "\276F";
  width: 1em;
  height: 1em;
  text-align: center;
  transform: rotate(90deg);
  transition: all 0.35s;
}
.tab-accordion input:checked + .tab__label::after {
  width: 2rem;
  transform: rotate(270deg);
}
.tab__content p {
  margin: 0;
  padding: 1rem;
}
.tab__content ul {
  padding-left: 1rem;
}
.tab__close {
  justify-content: flex-end;
  padding: 0.5rem 1rem;
  font-size: 0.75rem;
}
.accordion--radio {
  --theme: var(--secondary);
}

/* Arrow animation */
.tab-accordion input:not(:checked) + .tab__label:hover::after {
  animation: bounce .5s infinite;
}
@keyframes bounce {
  25% {
    transform: rotate(90deg) translate(.25rem);
  }
  75% {
    transform: rotate(90deg) translate(-.25rem);
  }
}

.payment__shipping {
  /* flex: 60%; */
  position: relative;
  right: 0;
  width: 600px;
}
.col2-order1{
  column-count: 2;
}
.row-x {
  display: flex;
}
.row-x:last-child{
  padding-bottom: 20px;
}
.field {
  padding-top: 15px;
  padding-right: 30px;
  width: 50%;
}
.field.small {
  width: auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.title {
  width: 15rem;
  font-size: 14px;
}
.input {
  border-radius: 5px;
  border-style: solid;
  border-width: 2px;
  height: 48px;
  padding-left: 15px;
  font-weight: 600;
  font-size: 14px;
  color: #5e6977;
}
.txt2 {
  border-color: #e1e8ee;
  width: 82px;
}
.mt-10{
  margin-top: 5rem;
}

#btnPrev:hover, #btnNext:hover{
  background-color: #000;
}
#btnPrev, #btnNext{
  background-color: #000;
  height: 3rem;
  width: 3rem;
  border-radius: 50%;
}
.center-vertical{
  margin-left: 2rem;
  margin-right: 2rem;
  position: absolute!important;
  top: 50%!important;
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}

input:checked + .label_harga {
  color: red;
}
.ms-auto label{
  margin-left: 2rem;
}
.ms-auto input{
  vertical-align: middle;
}
.col-content{
  display: contents;
}

/* modal */

/* Modal Styles */

.modal {
  display: none;
  position: fixed;
  z-index: 1;
  padding-top: 50px;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.9);
}

.modal-content {
  background-color: whitesmoke;
  margin: auto;
  display: block;
  max-width: 80%;
  max-height: 80%;
}

.close {
  position: absolute;
  top: 15px;
  right: 35px;
  color: #f1f1f1;
  font-size: 40px;
  font-weight: bold;
  cursor: pointer;
}

.form-modal{
  width: 300px;
  margin: auto;
  display: block;
}
.form-modal h4{
  text-align: center;
    padding-top: 20px;
    font-size: 18px;
    margin-bottom: 0;
}
#inputDataForm{
  display: grid;
  padding: 0 0 20px 0;
  text-align: center;
}
#inputDataForm label{
  padding: 8px;
}
.btn-modal{
  margin-top: 20px;
  height: 3rem;
  background-color: #000;
  color: #fff;
  border-radius: 8px;
  cursor: pointer;
}
.btn-modal:hover {
  transform: translateY(-1px);
  background: #323232;
}
.input-modal{
  height: 40px;
  border: 1px solid #d9d9d9;
  border-radius: 8px;
}
.pt200{
  padding-top: 100px!important;
}

.mw-32{
  max-width: 32%;
  max-height: 100%!important;
  border-radius: 12px;
}
/* end modal */
.img-academy{
  height: 3rem!important;
}
.img-client{
  object-fit:contain;
  width: 12rem;
  height:2rem;
  filter:grayscale(1);
}
.img-client:hover{
  filter:unset;
}
.pricelist-slider .swiper-button-prev {
  top: 80%;
  left: var(--swiper-navigation-sides-offset,-200px);
  right: auto;
}
.pricelist-slider .swiper-button-next {
  top: 80%;
  right: var(--swiper-navigation-sides-offset,-200px);
  left: auto;
}

/* pop up search */
.result-box ul{
  position: absolute;
  bottom: 7rem;
  width: 28rem;
  border-radius: 6px;
  background: hsla(0, 0%, 100%, 0.8);
}
.result-box ul{
  display: flex;
  flex-wrap: wrap;
  padding: unset;
  max-height: 400px;
  overflow-y: scroll;
}
.result-box ul li{
  margin: unset;
  display: grid;
  list-style: none;
  border-radius: 3px;
  padding: 15px 10px;
  cursor: pointer;
  height: 10.5rem;
}
.result-box ul li:hover{
  background: #e9f3ff;
  height: 10.5rem;
}
.result-box ul li a span{
  color: #777B7E;
}
.result-box ul li a{
  height: 8rem;
  padding: unset;
}
.result-box ul li a img{
  margin: auto;
  height: 8rem;
  width: auto;
}

/* swiper css */
.container-tranding {
  max-width: 124rem;
  padding: 0 1rem;
  margin: 0 auto;
}

.text-center {
  text-align: center;
}

.section-heading {
  font-size: 3rem;
  color: var(--primary);
  padding: 2rem 0;
}

#price-list {
  padding: 4rem 0;
}

@media (max-width:1440px) {
  #price-list {
    padding: 7rem 0;
  }
}

#price-list .tranding-slider {
  height: 30rem;
  padding: 2rem 0;
  position: relative;
}

@media (max-width:500px) {
  #price-list .tranding-slider {
    height: 20rem;
  }
}

.tranding-slide {
  width: 30rem!important;
  height: 28rem!important;
  position: relative;
}


.tranding-slide .tranding-slide-img a {
  padding: 0;
}
.tranding-slide .tranding-slide-img img {
  width: 30rem!important;
  height: 28rem!important;
  border-radius: 2rem;
  object-fit: cover;
}

@media (max-width:500px) {
  .tranding-slide {
    width: 18rem !important;
    height: 18rem !important;
  }
  .tranding-slide .tranding-slide-img img {
    width: 18rem !important;
    height: 18rem !important;
  }
}
.swiper-slide-shadow-left,
.swiper-slide-shadow-right {
  display: none;
}

.tranding-slider-control {
  position: relative;
  bottom: 2rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

.tranding-slider-control .swiper-button-next {
  left: 58% !important;
  transform: translateX(-58%) !important;
}

@media (max-width:990px) {
  .tranding-slider-control .swiper-button-next {
    left: 70% !important;
    transform: translateX(-70%) !important;
  }
}

@media (max-width:450px) {
  .tranding-slider-control .swiper-button-next {
    left: 80% !important;
    transform: translateX(-80%) !important;
  }
}

@media (max-width:990px) {
  .tranding-slider-control .swiper-button-prev {
    left: 30% !important;
    transform: translateX(-30%) !important;
  }
}

@media (max-width:450px) {
  .tranding-slider-control .swiper-button-prev {
    left: 20% !important;
    transform: translateX(-20%) !important;
  }
}

.tranding-slider-control .slider-arrow {
  background: var(--white);
  width: 3.5rem;
  height: 3.5rem;
  border-radius: 50%;
  left: 42%;
  transform: translateX(-42%);
  filter: drop-shadow(0px 8px 24px rgba(18, 28, 53, 0.1));
}

.tranding-slider-control .slider-arrow ion-icon {
  font-size: 2rem;
  color: #222224;
}

.tranding-slider-control .slider-arrow::after {
  content: '';
}

.tranding-slider-control .swiper-pagination {
  position: relative;
  width: 15rem;
  bottom: 1rem;
}

.tranding-slider-control .swiper-pagination .swiper-pagination-bullet {
  filter: drop-shadow(0px 8px 24px rgba(18, 28, 53, 0.1));
}

.tranding-slider-control .swiper-pagination .swiper-pagination-bullet-active {
  background: var(--primary);
}
/* swiper css end */

/* frame ig */
@media only screen and (max-width: 600px) {
  .ig-frame{
    height: 430px!important;
  }
}
@media screen and (min-width: 768px) and (max-width: 1024px) {
  .ig-frame{
    height: 530px!important;
  }
}


/* #facebook ._aa4c .Embed .Feedback, #facebook ._aa4c .Embed .SocialProof,
#facebook ._aa4c .Embed .Footer{} */
.instagram-media #document ._aa4c .Embed .Header{
  display: none!important;
}

.item-swipe {
  max-height: fit-content;
}

.img-pricelist {
  /* max-height: 500px; */
  /* max-width: 80%; */
}


@media only screen and (max-width: 600px) {
  .payment__shipping{
    position: relative;
  }
  .carousel-item a.mx-auto{
    padding: 0;
  }
  .carousel-control-next,
  .carousel-control-prev {
    width: 2.5rem;
  }
  .img-client{
    filter: unset;
  }
  .company-slider{
    width: 5rem;
  }
  .academy-slider{
    width: 5rem;
  }
  .result-box ul{
    bottom: 8rem;
    width: 18.5rem;
  }
  .pricelist-slider .swiper-wrapper .swiper-slide a{
    padding: unset;
  }
  .payment__shipping{
    width: 350px;
  }
  .title{
    width: 8rem;
  }
  .txt2{
    width: 55px;
  }
  .input{
    height: 30px;
    padding-left: unset;
  }
  .mw-32{
    max-width: 100%;
  }
}
@media screen and (min-width: 768px) and (max-width: 1024px) {
  .payment__shipping{
    position: relative;
  }
  .carousel-item a.mx-auto{
    padding: 0;
  }
}

.ag-timeline-card_img-box a{
  color: #fff;
  text-decoration: underline;
}
#rating a:focus{
  font-weight:400;
  line-height: unset;
  padding: 0.375rem 0.75rem;
}