.table-responsive{
    width: 95%;
    margin: auto;
}
.card-tab{
    border-radius: 0 0 1rem 1rem;
}

.btn-action{
    padding: 2px 7px;
}

#editProduction .modal-body{
    height: 35rem;
    overflow-x: scroll;
}

@media only screen and (max-width: 600px) {
    #editProduction .modal-body{
        height: 25rem;
        overflow-x: scroll;
    }
    #editProduction .modal-content{
        margin-top: 4rem;
    }
}

@media screen and (min-width: 768px) and (max-width: 1024px) {

}